p{
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section.duzen1
{
	color:blue;
	font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
	color:yellow;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.altcizgi
{
	text-decoration: underline;
}
.linkDuzen
{
	text-decoration: none;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	font-size:15pt;

}